[tool.bumpversion]
current_version = "0.3.13.post0"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)\\.post(?P<post>\\d+)"
serialize = ["{major}.{minor}.{patch}.post{post}"]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
ignore_missing_files = false
tag = true
sign_tags = false
tag_name = "{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit = true
message = "Bump version: {current_version} → {new_version}"
moveable_tags = []
commit_args = ""
setup_hooks = []
pre_commit_hooks = [
    "uv run -m tools.flow > flow.log",
]
post_commit_hooks = []
